<a class="brand" href="#{{headerCtrl.brand.link}}">{{ headerCtrl.brand.text }}</a>
<nav>
  <ul>
    <li ng-repeat="item in header.navigationItems" ng-class="{'active' : headerCtrl.isActive(item)}">
      <a href="#{{item.link}}">{{item.text}}</a>
    </li>
  </ul>
</nav>

<header class="navbar">
  <section class="navbar-brand">
    <a href="#/" class="primary">{{ headerCtrl.brand.primary }}</a>
    <a href="#/" class="secondary">{{ headerCtrl.brand.secondary }}</a>
  </section>
  <section class="navbar-nav">
    <section class="navbar-mobile" ng-click="headerCtrl.nav.toggle()">
      <span>
        <i class="fa fa-caret-up" aria-hidden="true" ng-show="headerCtrl.nav.visible"></i>
        <i class="fa fa-caret-down" aria-hidden="true" ng-show="!headerCtrl.nav.visible"></i> Menu
      </span>
    </section>
    <ul class="navbar-items" ng-show="headerCtrl.nav.visible">
      <li ng-repeat="item in headerCtrl.nav.items" ui-sref-active="active">
        <a ui-sref="{{ item.state }}">{{ item.text }}</a>
      </li>
    </ul>
  </section>
</header>
