<section class="settings">
  <h2>Settings</h2>
  <ul>
    <li>
        <label for="display-uptime">Display uptime</label>
        <input id="display-uptime" type="checkbox" ng-change="settings.toggleUptime()" ng-model="settings.displayUptime" />
    </li>
    <li>
        <label for="display-networks">Display networks</label>
        <input id="display-networks" type="checkbox" ng-change="settings.toggleNetworks()" ng-model="settings.displayNetworks" />
    </li>
    <li>
        <label for="display-empty-hosts">Display empty hosts</label>
        <input id="display-empty-hosts" type="checkbox" ng-change="settings.toggleEmptyHosts()" ng-model="settings.displayEmptyHosts" />
    </li>
    <li>
        <label for="display-exited-containers">Display exited containers</label>
        <input id="display-exited-containers" type="checkbox" ng-change="settings.toggleExitedContainers()" ng-model="settings.displayExitedContainers" />
    </li>
    <li>
        <label for="display-swarm-containers">Display Swarm containers</label>
        <input id="display-swarm-containers" type="checkbox" ng-change="settings.toggleSwarmContainers()" ng-model="settings.displaySwarmContainers" />
    </li>
  </ul>
</section>
