<h2>Settings</h2>
<ul>
  <li>
      <input id="display-uptime" type="checkbox" ng-change="settings.toggleUptime()" ng-model="settings.displayUptime" />
      <label for="display-uptime">Display uptime</label>
  </li>
  <li>
      <input id="display-networks" type="checkbox" ng-change="settings.toggleNetworks()" ng-model="settings.displayNetworks" />
      <label for="display-networks">Display networks</label>
  </li>
  <li>
      <input id="display-empty-hosts" type="checkbox" ng-change="settings.toggleEmptyHosts()" ng-model="settings.displayEmptyHosts" />
      <label for="display-empty-hosts">Display empty hosts</label>
  </li>
  <li>
      <input id="display-exited-containers" type="checkbox" ng-change="settings.toggleExitedContainers()" ng-model="settings.displayExitedContainers" />
      <label for="display-exited-containers">Display exited containers</label>
  </li>
  <li>
      <input id="display-swarm-containers" type="checkbox" ng-change="settings.toggleSwarmContainers()" ng-model="settings.displaySwarmContainers" />
      <label for="display-swarm-containers">Display Swarm containers</label>
  </li>
</ul>
