<section class="settings">
  <h2>Settings</h2>
  <ul>
    <li>
        <label for="display-uptime">Display uptime</label>
        <input id="display-uptime" type="checkbox" ng-model="settings.displayUptime.value" />
    </li>
    <li>
        <label for="display-networks">Display networks</label>
        <input id="display-networks" type="checkbox" ng-model="settings.displayNetworks.value" />
    </li>
    <li>
        <label for="display-empty-hosts">Display empty hosts</label>
        <input id="display-empty-hosts" type="checkbox" ng-model="settings.displayEmptyHosts.value" />
    </li>
    <li>
        <label for="display-exited-containers">Display exited containers</label>
        <input id="display-exited-containers" type="checkbox" ng-model="settings.displayExitedContainers.value" />
    </li>
    <li>
        <label for="display-swarm-containers">Display Swarm containers</label>
        <input id="display-swarm-containers" type="checkbox"ng-model="settings.displaySwarmContainers.value" />
    </li>
  </ul>
</section>
