@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,300);

html, body {
    color: #474747;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    height: 100%;
    background-color: #ffffff;
}

body {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

/*-------------------------*/

main {
    display: flex;
    flex-direction: row;
    flex: 1;
    z-index: 1;
    position: relative;
}

main .content {
  position: relative;
  flex: 1;
}

main .content > .container {
  position: absolute;
  top: 10px;
  left: 25px;
  right: 25px;
  bottom: 10px;
}
