<section class="container" ng-show="containerCtrl.displayContainer">
  <section class="container-body">
    <section class="container-info">
      <h1>{{ containerCtrl.container.image }}</h1>
      <span class="label" ng-show="containerCtrl.displayUptime">{{ containerCtrl.container.status }}</span>
      <span class="label {{containerCtrl.container.state}}">{{ containerCtrl.container.state }}</span>
    </section>
    <section class="container-identity">
      <span class="name">{{ containerCtrl.container.name }}</span>
      <span class="id">{{ containerCtrl.container.id | limitTo:20 }}</span>
    </section>
  </section>
  <section class="container-networks" ng-show="containerCtrl.displayNetworks">
    <span class="network" ng-show="containerCtrl.displayNetworks" ng-repeat="network in containerCtrl.container.networks">{{ network.name }}</span>
  </section>
</section>
