.search-options {
    overflow: auto;
}

.search-options select {
    float: left;
    width: calc(50% - 5px);
    margin: 0 0 15px;
    padding: 10px;
    text-transform: uppercase;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
}

.search-options> select:first-child {
    margin-right: 5px;
}

.search-options> select:last-child {
    margin-left: 5px;
}


/*-------------------------*/

.search-results {
    position: absolute;
    top: 160px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 10px;
}

.search-results .container.compact> .container-info {
    border: 1px solid #D9D9D9;
}

.search-results .container.compact> .container-networks {
    margin-bottom: 10px;
}
