#search-results .search-result {
  display: block;
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid #D9D9D9;
}

#search-results .search-result > p {
  font-size: 0.4rem;
  word-wrap: break-word;
  padding: 2px 0 0px 0;
}

#search-results .search-result > .name {
  display: block;
  font-size: 0.6rem;
  padding: 5px 0 5px 0;
}

#search-results .search-result > .label {
  font-size: 0.5rem;
  padding: 3px;
}

/*-------------------------*/

#networks a {
  font-size: 0.7rem;
  text-transform: none;
}

/*-------------------------*/

#overview {
  position: relative;
  overflow: auto;
  padding: 5px;
  margin-left: 285px;
}

/*-------------------------*/

#host-list {
  display: block;
  float: left;
  width: calc(50% - 10px);
  padding: 5px;
}

#host-list > .host {
  width: calc(100% - 40px);
  padding: 20px;
  margin-bottom: 10px;
  background-color: #ffffff;
  border: 1px solid #D9D9D9;
  border-right: 1px solid #D9D9D9;
  box-shadow: 1px 1px 1px #D9D9D9;
}

#host-list > .host > i:first-child {
  float: left;
  margin-right: 10px;
}

#host-list > .host > i:last-child {
  float: right;
  cursor: pointer;
}

/*-------------------------*/

#host-information {
  float: left;
  width: calc(50% - 20px);
  padding: 10px;
}

#host-information > h1 {
  font-size: 1.75rem;
  padding: 10px 0;
  margin: 0 10px;
  border-bottom: 1px solid #D9D9D9;
}

/*-------------------------*/

.containers {
  height: calc(100% - 2rem - 20px);
  overflow-y: auto;
}

/*-------------------------*/

.container {
  padding: 10px 0;
  margin: 0 10px;
  border-bottom: 1px solid #eee;
}

.container > h1 {
  font-size: 1.4rem;
}

.container > p {
  font-size: 0.6rem;
  word-wrap: break-word;
  padding: 5px 0 0px 0;
}

.container > .name {
  display: block;
  font-size: 0.6rem;
  padding: 10px 0 5px 0;
}

.label {
  float: right;
  color: #ffffff;
  font-size: 0.5rem;
  font-weight: 700;
  padding: 5px;
  margin-left: 5px;
  border-color: #404040;
  background-color: #474747;
  box-shadow: 1px 1px 1px #404040;
}

.label.running {
  border-color: #4BAD4B;
  background-color: #5cb85c;
  box-shadow: 1px 1px 1px #4BAD4B;
}

.label.created,
.label.network {
  border-color: #2D6DA3;
  background-color: #337ab7;
  box-shadow: 1px 1px 1px #2D6DA3;
}

.label.exited {
  border-color:#D33A35;
  background-color:#d9534f;
  box-shadow:1px 1px 1px #D33A35;
}

/*-------------------------*/
