.content {
  float: left;
  position: relative;
  width: calc(100% - 612px);
  height: 100%;
}

.content.sidebar-left-collapsed,
.content.sidebar-right-collapsed {
  width: calc(100% - 330px);
}

.content.sidebar-left-collapsed.sidebar-right-collapsed {
  width: calc(100% - 50px);
}

/*-------------------------*/

.content > div {
  position: relative;
  width: calc(100% - 10px);
  height: calc(100% - 20px);
  margin: 10px 5px;
}
