<section class="host" ng-repeat="host in overview.hosts | orderObjectBy: 'name'" ng-show="overview.showHost(host)">
  <h1>{{ host.name }}</h1>
  <div class="containers" ng-nicescroll>
    <section class="container" ng-repeat="container in host.containers | orderBy: ['state','-created']" ng-show="overview.showContainer(container)">
      <span class="label {{container.state}}">{{ container.state }}</span>
      <span class="label" ng-show="overview.displayUptime">{{ container.status }}</span>
      <h1>{{ container.image }}</h1>
      <span class="label network" ng-show="overview.displayNetworks" ng-repeat="network in container.networks">{{ network }}</span>
      <span class="name">{{ container.name }}</span>
      <p>{{ container.id }}</p>
    </section>
  </div>
</section
