.container-search {
    display: flex !important;
    flex-direction: column;
    flex: 1 !important;
}

.container-search > .search {
    flex: none;
}

.container-search > .search > input {
    width: 100%;
    margin: 15px 0;
}

/*-------------------------*/

.container-search > .search-options {
    display: flex;
    flex-direction: row;
    flex: none;
    margin-bottom: 15px;
}

.container-search > .search-options > select {
    flex: 1;
    padding: 10px;
    text-transform: uppercase;
    border: 1px solid #d9d9d9;
}

.container-search > .search-options > select:first-child {
    margin-right: 5px;
}

.container-search > .search-options > select:last-child {
    margin-left: 5px;
}

/*-------------------------*/

.container-search > .search-results {
    flex: 1;
}

.container-search > .search-results .container > .container-info {
    border: 1px solid #d9d9d9;
}

.container-search > .search-results .container > .container-networks {
    border: 1px solid #D9D9D9;
    margin-bottom: 10px;
}
