<!doctype html>
<html>
  <head>
    <title>Swarm UI</title>
    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/app.css"/>
  </head>
  <body ng-app="swarm-ui">
    <header>
      <span>Swarm UI</span>
    </header>
    <main>
      <aside ng-nicescroll>
        <section id="information" ng-controller="informationCtrl as information">
          <h2>Cluster Information</h2>
          <ul>
            <li><span>{{ information.totalHosts }}</span><span>Total hosts</span></li>
            <li><span>{{ information.totalContainers }}</span><span>Total containers</span></li>
            <li><span>{{ information.runningContainers }}</span><span>Running containers</span></li>
            <li><span>{{information.exitedContainers }}</span><span>Exited containers</span></li>
          </ul>
        </section>
        <section id="search" ng-controller="searchCtrl as search">
          <h2>Search a container</h2>
          <input type="text" ng-model="search.query" ng-change="search.search()" placeholder="Type a container name or image"/>
          <section id="search-results">
            <section class="search-result" ng-repeat="container in search.results">
              <span class="label {{container.state}}">{{ container.state }}</span>
              <h1>{{ container.image }}</h1>
              <span class="name">{{ container.name }}</span>
              <p>{{ container.id }}</p>
            </section>
          </section>
        </section>
        <section id="settings" ng-controller="settingsCtrl as settings">
          <h2>Settings</h2>
          <ul>
            <li>
                <input id="display-uptime" type="checkbox" ng-change="settings.toggleUptime()" ng-model="settings.displayUptime" />
                <label for="display-uptime">Display uptime</label>
            </li>
            <li>
                <input id="display-networks" type="checkbox" ng-change="settings.toggleNetworks()" ng-model="settings.displayNetworks" />
                <label for="display-networks">Display networks</label>
            </li>
            <li>
                <input id="display-empty-hosts" type="checkbox" ng-change="settings.toggleEmptyHosts()" ng-model="settings.displayEmptyHosts" />
                <label for="display-empty-hosts">Display empty hosts</label>
            </li>
            <li>
                <input id="display-exited-containers" type="checkbox" ng-change="settings.toggleExitedContainers()" ng-model="settings.displayExitedContainers" />
                <label for="display-exited-containers">Display exited containers</label>
            </li>
            <li>
                <input id="display-swarm-containers" type="checkbox" ng-change="settings.toggleSwarmContainers()" ng-model="settings.displaySwarmContainers" />
                <label for="display-swarm-containers">Display Swarm containers</label>
            </li>
          </ul>
      </aside>
      <section id="overview" ng-nicescroll ng-controller="overviewCtrl as overview">
        <section class="host" ng-repeat="host in overview.hosts | orderObjectBy: 'name'" ng-show="overview.showHost(host)">
          <h1>{{ host.name }}</h1>
          <div class="containers" ng-nicescroll>
            <section class="container" ng-repeat="container in host.containers | orderBy: ['state','-created']" ng-show="overview.showContainer(container)">
              <span class="label {{container.state}}">{{ container.state }}</span>
              <span class="label" ng-show="overview.displayUptime">{{ container.status }}</span>
              <h1>{{ container.image }}</h1>
              <span class="label network" ng-show="overview.displayNetworks" ng-repeat="network in container.networks">{{ network }}</span>
              <span class="name">{{ container.name }}</span>
              <p>{{ container.id }}</p>
            </section>
          </div>
        </section>
      </section>
    </main>
    <script src="libs/jquery.min.js"></script>
    <script src="libs/jquery.nicescroll.min.js"></script>
    <script src="libs/angular.min.js"></script>
    <script src="libs/angular-nicescroll.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="libs/socket.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
