<!doctype html>
<html>
  <head>
    <title>Swarm VIZ</title>
    <link rel="stylesheet" href="/css/reset.css"/>
    <link rel="stylesheet" href="/css/vis.css"/>
    <link rel="stylesheet" href="/css/app.css"/>
  </head>
  <body ng-app="swarm-viz">
    <header>
      <a href="#/overview">Swarm viz</a>
    </header>
    <main>
      <aside ng-nicescroll>
        <section id="information" ng-controller="informationCtrl as information">
          <h2>Cluster Information</h2>
          <ul>
            <li><span>{{ information.totalHosts }}</span><span>Total hosts</span></li>
            <li><span>{{ information.totalContainers }}</span><span>Total containers</span></li>
            <li><span>{{ information.runningContainers }}</span><span>Running containers</span></li>
            <li><span>{{information.exitedContainers }}</span><span>Exited containers</span></li>
          </ul>
        </section>
        <section id="search" ng-controller="searchCtrl as search">
          <h2>Search a container</h2>
          <input type="text" ng-model="search.query" ng-change="search.search()" placeholder="Type a container name or image"/>
          <section id="search-results">
            <section class="search-result" ng-repeat="container in search.results">
              <span class="label {{container.state}}">{{ container.state }}</span>
              <h1>{{ container.image }}</h1>
              <span class="name">{{ container.name }}</span>
              <p>{{ container.id }}</p>
            </section>
          </section>
        </section>
        <section id="networks" ng-controller="networksCtrl as networks">
          <h2>Networks</h2>
          <ul>
            <li ng-repeat="network in networks.networks | orderObjectBy: 'name'">
              <a ng-click="networks.view(network)">view</a><span>{{ network.name }}</span>
            </li>
          </ul>
        </section>
        <section id="settings" ng-controller="settingsCtrl as settings">
          <h2>Settings</h2>
          <ul>
            <li>
                <input id="display-uptime" type="checkbox" ng-change="settings.toggleUptime()" ng-model="settings.displayUptime" />
                <label for="display-uptime">Display uptime</label>
            </li>
            <li>
                <input id="display-networks" type="checkbox" ng-change="settings.toggleNetworks()" ng-model="settings.displayNetworks" />
                <label for="display-networks">Display networks</label>
            </li>
            <li>
                <input id="display-empty-hosts" type="checkbox" ng-change="settings.toggleEmptyHosts()" ng-model="settings.displayEmptyHosts" />
                <label for="display-empty-hosts">Display empty hosts</label>
            </li>
            <li>
                <input id="display-exited-containers" type="checkbox" ng-change="settings.toggleExitedContainers()" ng-model="settings.displayExitedContainers" />
                <label for="display-exited-containers">Display exited containers</label>
            </li>
            <li>
                <input id="display-swarm-containers" type="checkbox" ng-change="settings.toggleSwarmContainers()" ng-model="settings.displaySwarmContainers" />
                <label for="display-swarm-containers">Display Swarm containers</label>
            </li>
          </ul>
      </aside>
      <section id="overview" ng-view ng-nicescroll></section>
    </main>
    <script src="dist/jquery.min.js"></script>
    <script src="dist/jquery.nicescroll.min.js"></script>
    <script src="dist/vis.js"></script>
    <script src="dist/angular.min.js"></script>
    <script src="dist/angular-nicescroll.js"></script>
    <script src="dist/angular-route.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="dist/socket.min.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
