.network-info {
    position: absolute;
    top: 20px;
    left: 10px;
}

.network-info > h1 {
    font-size: 1rem;
    font-weight: 700;
}

.network-info > small {
    font-size: 0.6rem;
    font-weight: 400;
}
